body {
    font-family: "Poppins", sans-serif;
}

.grey {
    color:#8a8c8f;
}

.form-control-dark {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: var(--bs-gray);
}

.form-control-dark:focus {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.text-small {
    font-size: 85%;
}

.dropdown-toggle {
    outline: 0;
}

.dropdown-menu {
    margin-top:11px !important;
    min-width: 100rem !important;
    column-count: 4;
}
.dropdown-item {
    text-decoration: underline;
}
.nav-link {
    color: #1a1e21;
}

.asw-footer {
    display:none;
}
