<div class="container p-5">
        <div class="row">
            <div class="col p-3">
                <h1>A District on the Rise</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel metus tellus. Curabitur a
                    volutpat dolor. Donec eu rhoncus augue. Mauris a pellentesque massa. Quisque suscipit facilisis
                    quam, vel rhoncus nibh imperdiet sed. Nullam auctor gravida elit, vitae cursus orci consequat
                    eget. Nunc a eleifend quam, nec gravida risus. Donec tincidunt metus lorem, et commodo urna
                    rhoncus ut. Maecenas a quam ante. Sed mattis molestie urna, nec auctor magna vulputate nec.
                    Interdum et malesuada fames ac ante ipsum primis in faucibus.
                </p>
                <p style="color:rgb(9, 79, 163); font-size:52px;font-weight:bold;">
                    89.4%
                </p>
                <p style="color:darkgrey;font-weight:bold;">
                    Graduated in 2023
                </p>
            </div>
            <div class="col p-3">
                <h2 class="grey">Charts</h2>
                <!--                    Charts-->
                <div>
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    </div>
    <hr>
