<div class="container p-5">
        <div class="row">
            <div class="col p-3">
                <h2>Three Year BluePrint</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel metus tellus. Curabitur a
                    volutpat dolor. Donec eu rhoncus augue. Mauris a pellentesque massa. Quisque suscipit facilisis
                    quam, vel rhoncus nibh imperdiet sed. Nullam auctor gravida elit, vitae cursus orci consequat
                    eget. Nunc a eleifend quam, nec gravida risus. Donec tincidunt metus lorem, et commodo urna
                    rhoncus ut. Maecenas a quam ante. Sed mattis molestie urna, nec auctor magna vulputate nec.
                    Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
            </div>
            <div class="col p-3">
                <h3 class="pb-3 grey">Strategic Initiatives</h3>
                <div>
                    <h6 style="border-bottom:1px solid lightgrey;border-left:1px solid lightgrey;padding-bottom:10px;padding-left:10px;padding-top:5px;">Initiative <span
                            style="float:right;"><a href=""><i class="fa-solid fa-arrow-right"></i></a></span>1
                    </h6>
                    <h6 style="border-bottom:1px solid lightgrey;border-left:1px solid lightgrey;padding-bottom:10px;padding-left:10px;padding-top:5px;">Initiative <span
                            style="float:right;"><a href=""><i class="fa-solid fa-arrow-right"></i></a></span>1
                    </h6>
                    <h6 style="border-bottom:1px solid lightgrey;border-left:1px solid lightgrey;padding-bottom:10px;padding-left:10px;padding-top:5px;">Initiative <span
                            style="float:right;"><a href=""><i class="fa-solid fa-arrow-right"></i></a></span>1
                    </h6>
                    <h6 style="border-bottom:1px solid lightgrey;border-left:1px solid lightgrey;padding-bottom:10px;padding-left:10px;padding-top:5px;">Initiative <span
                            style="float:right;"><a href=""><i class="fa-solid fa-arrow-right"></i></a></span>1
                    </h6>
                    <h6 style="border-bottom:1px solid lightgrey;border-left:1px solid lightgrey;padding-bottom:10px;padding-left:10px;padding-top:5px;">Initiative <span
                            style="float:right;"><a href=""><i class="fa-solid fa-arrow-right"></i></a></span>1
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <hr>