<div class="container p-5">

    <div class="container">

      <div class="row">
        <div class="col">
          <h3 class="pb-2">Upcoming Events</h3>

          <div class="row">
            <!--Event 1-->
            <div class="col-sm-4">
              <center>
                <div style="padding-bottom: 25px;">
                  <div class="shadow"
                       style="color:white;padding:20px;width:100%;background-color:rgb(9, 79, 163);border-radius:20px;border: 5px solid rgb(13, 116, 239, .8); ">
                    <p style="border-bottom:1px solid white;text-align:center;padding-top:25px;padding-bottom:15px;">
                      Thursday</p>
                    <p style="text-align:center;padding-top:5px;padding-bottom:25px;">2 / 7</p>
                  </div>

                </div>
              </center>
            </div>
            <div class="col-sm-8">
              <h6 style="color:grey;">Communications</h6>
              <h5>CPS Job Fair (for Paraprofessionals)</h5>
              <p><small>10:00 am - 12: 00 pm</small></p>
            </div>
            <!--                            End Event 1-->
            <!--Event 2-->
            <div class="col-sm-4">
              <center>
                <div style="padding-bottom: 25px;">
                  <div class="shadow"
                       style="color:white;padding:20px;width:100%;background-color:rgb(9, 79, 163);border-radius:20px;border: 5px solid rgb(13, 116, 239, .8); ">
                    <p style="border-bottom:1px solid white;text-align:center;padding-top:25px;padding-bottom:15px;">
                      Thursday</p>
                    <p style="text-align:center;padding-top:5px;padding-bottom:25px;">2 / 7</p>
                  </div>

                </div>
              </center>
            </div>
            <div class="col-sm-8">
              <h6 style="color:grey;">External Communications</h6>
              <h5>CPS Job Fair (for Paraprofessionals)</h5>
              <p><small>10:00 am - 12: 00 pm</small></p>
            </div>
            <!--End Event-->
            <!--                            Event 3-->
            <div class="col-sm-4">
              <center>
                <div style="padding-bottom: 25px;">
                  <div class="shadow"
                       style="color:white;padding:20px;width:100%;background-color:rgb(9, 79, 163);border-radius:20px;border: 5px solid rgb(13, 116, 239, .8); ">
                    <p style="border-bottom:1px solid white;text-align:center;padding-top:25px;padding-bottom:15px;">
                      Thursday</p>
                    <p style="text-align:center;padding-top:5px;padding-bottom:25px;">2 / 7</p>
                  </div>

                </div>
              </center>
            </div>
            <div class="col-sm-8">
              <h6 style="color:grey;">Schools</h6>
              <h5>CPS Job Fair (for Paraprofessionals)</h5>
              <p><small>10:00 am - 12: 00 pm</small></p>
            </div>
            <!--End Event-->
            <!--Event 4-->
            <div class="col-sm-4">
              <center>
                <div style="padding-bottom: 25px;">
                  <div class="shadow"
                       style="color:white;padding:20px;width:100%;background-color:rgb(9, 79, 163);border-radius:20px;border: 5px solid rgb(13, 116, 239, .8); ">
                    <p style="border-bottom:1px solid white;text-align:center;padding-top:25px;padding-bottom:15px;">
                      Thursday</p>
                    <p style="text-align:center;padding-top:5px;padding-bottom:25px;">2 / 7</p>
                  </div>

                </div>
              </center>
            </div>
            <div class="col-sm-8">
              <h6 style="color:grey;">Communications</h6>
              <h5>CPS Job Fair (for Paraprofessionals)</h5>
              <p><small>10:00 am - 12: 00 pm</small></p>
            </div>

          </div>

        </div><!-- end col -->

        <div class="col">
          <h3 class="pb-2 grey">Community</h3>
          <div class="col">
            <img th:src="@{assets/img/video.png}" alt="" style="border-radius:20px;width:100%;"
                 class="shadow">

            <div class="container p-4">
              <div class="row">
                <div class="col-sm"><img th:src="@{assets/img/video.png}" alt=""
                                         style="border-radius:10px;width:90%;" class="shadow">
                </div>
                <div class="col-sm"><img th:src="@{assets/img/video.png}" alt=""
                                         style="border-radius:10px;width:90%;" class="shadow">
                </div>
                <div class="col-sm"><img th:src="@{assets/img/video.png}" alt=""
                                         style="border-radius:10px;width:90%;" class="shadow">
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <img th:src="@{assets/img/grid.jpg}" alt="" style="border-radius:20px;" class="shadow">
          </div>
        </div>
      </div>

    </div>